.wrapper {
width:100%;
max-width:100vw;
margin:0 auto;
overflow:hidden
}

.wrap {
width:100%;
max-width:1180px;
margin:0 auto
}

.cbp-af-header {
position:fixed;
top:0;
left:0;
width:100%;
background:transparent;
z-index:1000;
height:140px;
-webkit-transition:height .4s;
-moz-transition:height .4s;
transition:height .4s
}

.cbp-af-header .mainlogo {
height:100px;
margin-top:10px
}

.cbp-af-header .mainlogo:hover {
border-color:transparent!important
}

.cbp-af-header .mainlogo img {
height:100px;
transition:.4s
}

.cbp-af-header.cbp-af-header-shrink .mainlogo {
height:60px;
margin-top:10px
}

.cbp-af-header.cbp-af-header-shrink .mainlogo img {
height:60px;
transition:.4s
}

.cbp-af-header .cbp-af-inner {
width:100%;
max-width:1200px;
margin:0 auto;
text-align:center
}

.cbp-af-header h1 {
position:relative;
line-height:140px;
text-transform:uppercase;
color:#333;
letter-spacing:4px;
font-size:4em;
margin:0;
float:left
}

.cbp-af-header nav {
display:flex;
justify-content:space-between;
flex-wrap:wrap;
padding:0 40px
}

.cbp-af-header nav a {
width:14.285%;
color:#dcdcdc;
font-weight:300;
font-size:16px;
letter-spacing:1.4px;
text-decoration:none;
cursor:pointer;
line-height:120px;
display:inline-block;
vertical-align:middle;
border-top:6px solid transparent;
text-shadow:1px 1px 1px #333
}

.cbp-af-header nav a:nth-child(5) {
width:21.4275%
}

.cbp-af-header nav a:nth-child(6) {
width:21.4275%
}

.cbp-af-header nav a:hover {
color:#fff;
border-top:6px solid #f0ad4e
}

.cbp-af-header nav a small {
color:red;
font-size:10px;
vertical-align:top;
font-weight:600;
display:inline-block;
margin:-10px 0 0 1px;
letter-spacing:0
}

.cbp-af-header nav a i {
color:#f0ad4e;
font-size:20px;
vertical-align:-1px
}

.cbp-af-header nav a {
-webkit-transition:line-height .4s;
-moz-transition:line-height .4s;
transition:line-height .4s
}

.cbp-af-header.cbp-af-header-shrink {
height:80px;
background:#303030;
box-shadow:1px 1px 20px #1f1f1f
}

.cbp-af-header.cbp-af-header-shrink nav a {
line-height:76px;
border-top:none;
border-bottom:4px solid transparent
}

.cbp-af-header.cbp-af-header-shrink nav a:hover {
border-bottom:4px solid #f0ad4e
}

.cbp-af-header.cbp-af-header-shrink h1 {
font-size:2em
}

.mainback {
height:700px;
width:100%;
background:url(../img/mainback.jpg) center;
display:flex;
justify-content:space-between;
flex-wrap:wrap;
padding-top:40px
}

.mainscreen {
display:flex;
justify-content:space-between;
flex-wrap:wrap
}

.mainbackwrap {
width:50%;
position:relative
}

.mainphone {
width:373px;
height:376px;
background:url(../img/mainphone5e1f.png?v=2);
position:absolute;
top:200px;
left:130px;
z-index:400;
transition:.2s
}

.dash1 {
width:440px;
height:2px;
background:url(../img/dash.png) left;
position:absolute;
top:221px;
left:18px;
transform:rotate(6deg);
z-index:100
}

.dash2 {
width:500px;
height:2px;
background:url(../img/dash.png) left;
position:absolute;
top:561px;
left:82px;
transform:rotate(-6deg);
z-index:100
}

.dash3 {
width:659px;
height:2px;
background:url(../img/dash.png) left;
position:absolute;
top:408px;
left:-72px;
transform:rotate(55.5deg);
z-index:100
}

.dash4 {
width:600px;
height:2px;
background:url(../img/dash.png) left;
position:absolute;
top:388px;
left:85px;
transform:rotate(54.4deg);
z-index:100
}

.perfection {
position:absolute;
top:382px;
left:137px;
transform:rotate(55.8deg);
z-index:100;
font-size:12px;
letter-spacing:3px;
color:gray
}

.perfection:lang(ru) {
left:115px
}

.perfection:lang(zh) {
left:175px
}

.perfection:lang(es) {
left:110px
}

.mainbackdesc {
margin-top:200px
}

.mainbackdesc h1 {
color:#fff;
font-size:30px;
font-weight:500;
margin:16px 0;
letter-spacing:1px;
text-shadow:1px 1px 1px #333;
text-transform:uppercase
}

.mainbackdesc h1 span {
color:#f0ad4e
}

.mainico {
height:50px
}

.maindesc {
border-top:5px solid #f0ad4e;
padding:20px 0;
margin-top:20px;
text-align:left
}

.maindesctext {
font-size:16px;
font-weight:300;
text-shadow:1px 1px 1px #333
}

.maindesctext span {
display:block;
margin:10px 0
}

.maindesctext span i {
color:#f0ad4e
}

.maindesctext span img {
height:18px;
vertical-align:-3px
}

.maindescbut {
display:block;
width:100%;
height:46px;
margin-top:30px;
line-height:42px;
text-align:center;
font-size:18px;
color:#fff;
background:#f0ad4e;
border-radius:25px;
text-decoration:none;
font-weight:500;
border-top:none;
border-left:none;
border-right:none;
border-bottom:3px solid #8B4513;
text-shadow:1px 1px 1px #8B4513;
transition:.1s;
cursor:pointer;
text-transform:uppercase
}

.maindescbut:hover {
border-bottom:none;
margin-top:33px;
margin-bottom:-3px
}

.maindesclink {
text-align:center;
margin-top:20px
}

.maindesclink a {
border-bottom:1px dashed #fff;
color:#dbdbdb;
text-decoration:none
}

.maindesclink a:hover {
border-bottom:none;
color:#fff
}

.mainabout {
padding:60px 0 20px;
position:relative
}

.mainabout h2 {
color:#fff;
text-align:center;
font-size:44px;
font-weight:600;
text-transform:uppercase;
letter-spacing:2px;
margin:40px 0
}

.mainabout h2 small {
display:block;
font-size:22px;
font-weight:200;
line-height:50px;
letter-spacing:1px
}

.gt {
color:#f0ad4e;
vertical-align:baseline
}

.mainnewsblock {
display:inline-block
}

.news-wrapper {
display:inline-block;
width:400px
}

.news-wrapper .news-contents-wrapper {
width:400px;
margin:auto
}

.news-wrapper .news-contents {
overflow:hidden;
position:relative;
z-index:998;
height:358px;
background-color:#282828;
box-shadow:inset 0 0 50px #1b1b1b;
padding:14px;
border-radius:10px
}

.news-wrapper .news {
width:372px;
height:100px;
color:#fff;
position:absolute;
z-index:999;
padding:14px 0;
border-bottom:2px solid #f0ad4e
}

.news-wrapper .news:hover {
background:#3e3e3e;
transition:.3s
}

.news-wrapper .news .description h1 {
margin-bottom:10px
}

.news-wrapper .news .description h1 a {
color:#fff;
font-weight:200;
text-decoration:none;
font-size:14px;
letter-spacing:1px;
line-height:18px
}

.news-wrapper .news .description h1 a:hover {
text-decoration:underline
}

.news-header {
color:#fff;
font-weight:200;
font-size:20px;
text-align:center;
margin-bottom:20px;
text-transform:uppercase
}

.clear {
clear:both
}

.circle-outer {
width:56px;
height:56px;
border-radius:39px;
-moz-border-radius:39px;
-webkit-border-radius:39px;
text-align:center;
vertical-align:middle;
border:solid 8px #656565;
overflow:hidden;
font-size:14px;
font-weight:700;
background-color:#656565
}

.circle {
width:56px;
height:56px;
border-radius:32px;
-moz-border-radius:32px;
-webkit-border-radius:32px;
text-align:center;
vertical-align:middle;
overflow:hidden;
font-size:14px;
font-weight:200
}

.circle.red {
background:#282828;
background:-moz-linear-gradient(top,#282828 0%,#353535 100%);
background:-webkit-linear-gradient(top,#282828 0%,#353535 100%);
background:linear-gradient(to bottom,#282828 0%,#353535 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828',endColorstr='#353535',GradientType=0)
}

.history {
padding-top:14px;
float:left;
width:25%;
padding-left:30px
}

.description {
float:left;
width:64%;
padding:4px
}

.description .detail {
font-size:12px;
overflow:hidden;
color:#B1B1B1
}

.elipses,.month {
display:block;
height:10px
}

.day {
margin-top:4px;
display:block;
height:7px
}

.day,.month {
padding-top:6px
}

.workblock {
width:100%;
background:url(../img/workback.jpg) top no-repeat;
position:relative;
padding:60px 0;
box-sizing:border-box
}

.workblock h2 {
color:#fff;
text-align:center;
font-size:44px;
font-weight:600;
text-transform:uppercase;
letter-spacing:2px;
margin:40px 0
}

.workblock h2 small {
display:block;
font-size:22px;
font-weight:200;
line-height:50px;
letter-spacing:1px
}

.dashtop {
width:2200px;
height:2px;
background:url(../img/dash.png) center;
position:absolute;
top:-1px;
left:-500px
}

.macbackblock {
position:relative;
display:flex;
justify-content:space-between;
flex-wrap:wrap
}

.macbackblock h2 {
width:100%
}

.macblock {
width:500px
}

.macblockline {
position:relative;
margin:15px 0;
padding:18px;
font-size:18px;
border-left:5px solid #f0ad4e;
text-shadow:1px 1px 1px #333;
box-shadow:0 0 30px #1f1f1f;
color:#fff;
background:#282828;
transition:.3s;
background:-moz-linear-gradient(left,#282828 0%,#353535 100%);
background:-webkit-linear-gradient(left,#282828 0%,#353535 100%);
background:linear-gradient(to right,#282828 0%,#353535 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828',endColorstr='#353535',GradientType=1)
}

.macblockline:hover {
transform:scale(1.025)
}

.macblockline img {
height:20px;
vertical-align:-4px
}

.macblockline b {
font-weight:500
}

.macblockline a.blocklinea {
position:absolute;
top:-10px;
right:-10px;
transition:.3s;
color:#f0ad4e;
box-shadow:0 0 20px #131313;
border-radius:50%
}

.macblockline a.blocklinea:hover {
transform:scale(1.15);
color:#fff
}

.macblockline a.blocklinea i {
font-size:40px
}

.mainreviewimgdesc .maincompany {
font-size:16px
}

.mainreviewimgdesc .maindescbut {
height:36px;
margin-top:20px;
line-height:34px;
text-align:center;
font-size:14px;
color:#fff;
width:100%;
padding-left:0
}

.mainreviewimgdesc .maindescbut:hover {
margin-top:20px;
margin-bottom:1px
}

.macback {
width:500px;
height:403px;
margin:60px 0 40px;
background:url(../img/macback7b30.png?v=4);
background-size:cover
}

.macbackwrap {
display:flex;
flex-direction:column;
justify-content:center;
height:286px;
color:#fff;
text-decoration:none;
text-align:center;
font-size:14px;
text-shadow:1px 1px 1px #333
}

.macblockdesc {
font-size:30px;
font-weight:400;
text-shadow:1px 1px 4px #050505
}

.macbackwrap img {
height:100px;
margin:20px auto;
width:160px;
transition:.3s
}

.macbackwrap:hover img {
transform:scale(1.1)
}

.macbackwrap u {
font-weight:400;
text-shadow:1px 1px 4px #050505
}

.workdescblock {
width:600px;
vertical-align:top;
margin:40px 0 0 30px;
position:relative;
font-size:16px;
text-shadow:1px 1px 1px #333;
line-height:20px
}

.workdesc {
font-weight:300;
margin-bottom:40px
}

.workdesc b {
color:#f0ad4e;
font-weight:500
}

.workdescpre {
text-transform:uppercase;
font-size:16px;
color:#f0ad4e
}

.workdesctitle {
text-transform:uppercase;
font-size:26px;
font-weight:500;
margin:10px 0 20px;
border-left:4px solid #f0ad4e;
padding-left:10px;
line-height:1.2
}

.totalsumnum.trxbalance:before {
content:"\f681";
font-family:"Font Awesome 5 pro";
font-weight:200;
font-size:30px;
position:absolute;
top:0;
left:20px;
color:#f0ad4e
}

.mainaboutitemsblock {
width:100%;
display:block;
margin:140px 0;
position:relative;
padding:0 108px
}

.mainaboutitem {
display:inline-block;
width:300px;
height:310px;
font-weight:300;
border-top:5px solid #f0ad4e;
padding:30px 40px;
text-align:left;
line-height:18px;
box-sizing:border-box;
box-shadow:0 0 30px #1f1f1f;
transition:.2s;
color:#b7b7b7
}

.mainaboutitem b {
font-weight:500;
color:#fff
}

.aboutdashtop {
width:100%;
height:2px;
background:url(../img/dash.png) center;
position:absolute;
top:-33px;
left:0
}

.aboutdashbottom {
width:100%;
height:2px;
background:url(../img/dash.png) center;
position:absolute;
bottom:-33px;
left:0
}

.aboutdashleft {
width:500px;
height:2px;
background:url(../img/dash.png) left;
position:absolute;
top:152px;
left:159px;
transform:rotate(90deg)
}

.aboutdashright {
width:500px;
height:2px;
background:url(../img/dash.png) left;
position:absolute;
top:152px;
left:501px;
transform:rotate(90deg)
}

.mainaboutitem:hover {
box-shadow:0 0 5px #1f1f1f;
color:#fff;
transform:scale(1.02)
}

.mainaboutitem2 {
display:inline-block;
position:absolute;
width:340px;
height:371px;
font-weight:300;
margin:-30px 0 0 -641px;
border-top:5px solid #f0ad4e;
padding:30px 40px;
text-align:center;
line-height:18px;
box-sizing:border-box;
vertical-align:top;
box-shadow:0 0 30px #1f1f1f;
transition:.3s;
color:#b7b7b7
}

.mainaboutitem2:hover {
box-shadow:0 0 5px #1f1f1f;
color:#fff;
transform:scale(1.02)
}

.mainaboutitem2 img {
display:block;
margin:0 auto 20px
}

.aboutitemgrad1 {
background:#353535;
background:-moz-linear-gradient(left,#353535 0%,#282828 100%);
background:-webkit-linear-gradient(left,#353535 0%,#282828 100%);
background:linear-gradient(to right,#353535 0%,#282828 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535',endColorstr='#282828',GradientType=1);
margin-right:340px;
text-align:right
}

.aboutitemgrad2 {
background:#282828;
background:-moz-linear-gradient(left,#282828 0%,#353535 100%);
background:-webkit-linear-gradient(left,#282828 0%,#353535 100%);
background:linear-gradient(to right,#282828 0%,#353535 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828',endColorstr='#353535',GradientType=1)
}

.aboutitemgrad {
background:#363636
}

.mainaboutitem h3,.mainaboutitem2 h3 {
font-size:22px;
color:#fff;
font-weight:200;
margin-bottom:20px;
line-height:22px
}

.totalsumblock {
width:100%;
margin:0 0 40px;
display:flex;
justify-content:space-between;
flex-wrap:wrap
}

.totalsumwrap {
width:45%;
text-align:center
}

.totalsumdesc {
font-size:24px;
box-sizing:border-box;
vertical-align:top;
-webkit-font-smoothing:subpixel-antialiased
}

.totalsumdesc b {
font-weight:500;
color:#f0ad4e
}

.totalsumnum {
display:inline-block;
width:100%;
background:#282828;
line-height:80px;
margin:20px 0;
text-align:center;
vertical-align:top;
font-size:40px;
color:#f0ad4e;
font-weight:600;
letter-spacing:2px;
box-shadow:inset 0 0 30px #1b1b1b;
border-radius:10px;
position:relative
}

.totalsumnum:before {
content:"\f4b9";
font-family:"Font Awesome 5 pro";
font-weight:200;
font-size:30px;
position:absolute;
top:0;
left:20px;
color:#f0ad4e
}

.totalsumblock .totalsumwrap .totalsumnum:last-child:before {
content:"\f4fc";
font-family:"Font Awesome 5 pro";
font-weight:200;
font-size:30px;
position:absolute;
top:0;
left:20px;
color:#f0ad4e
}

.maincompanydesc {
display:inline-block;
text-align:right;
padding-right:20px;
font-size:18px
}

.maincompany {
color:#f0ad4e;
font-size:20px;
font-weight:300;
margin:2px 0 16px
}

.maincompany span {
color:#fff;
font-size:14px
}

.maincompany span a {
color:#f0ad4e
}

.maincompany span a:hover {
text-decoration:none
}

.certimgwrap {
display:inline-block;
text-align:center;
position:relative;
width:160px
}

.serdash {
position:absolute;
top:-26px;
left:-4px;
height:220px;
width:2px;
background:url(../img/dash2.png) center
}

.certimg {
height:166px;
border:4px solid #f0ad4e
}

.maincertbtn {
display:flex;
justify-content:space-between;
flex-wrap:wrap
}

.maincertbtn .maindescbut {
width:48%;
display:inline-block;
font-size:14px
}

.maincertbtn .maindescbut:lang(es) {
font-size:12px
}

.stepsmainblock {
width:100%;
position:relative;
box-sizing:border-box;
padding:60px 0
}

.stepsmainblock h2 {
color:#fff;
text-align:center;
font-size:44px;
font-weight:600;
text-transform:uppercase;
letter-spacing:2px;
margin:0 0 60px
}

.stepsmainblock h2 small {
display:block;
font-size:22px;
font-weight:200;
line-height:50px;
letter-spacing:1px
}

.stepsline {
display:flex;
justify-content:space-between;
flex-wrap:wrap;
position:relative;
width:100%;
margin-bottom:60px
}

.stepsline:last-child {
margin-bottom:0
}

.stepslinewrap {
width:50%
}

.stepslinewrapright {
text-align:right
}

.stepsline h3 {
font-size:30px;
text-align:center
}

.stepslineright h3 {
font-size:30px
}

.icosteps2 {
width:140px;
height:140px;
padding:28px 0;
text-align:center;
background-color:#282828;
border-radius:50%;
box-shadow:inset 0 0 50px #1b1b1b;
display:block;
margin:0 auto
}

.icosteps2 img {
height:80px
}

.stepsblock {
display:inline-block;
width:calc(50% - 45px);
margin:20px 15px;
padding:20px;
color:#b7b7b7;
text-decoration:none;
line-height:18px;
font-weight:300;
border-top:5px solid #f0ad4e;
text-shadow:1px 1px 1px #333;
transition:.3s;
text-align:left;
box-shadow:0 0 30px #1f1f1f;
background:#282828;
background:-moz-linear-gradient(left,#282828 0%,#353535 100%);
background:-webkit-linear-gradient(left,#282828 0%,#353535 100%);
background:linear-gradient(to right,#282828 0%,#353535 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828',endColorstr='#353535',GradientType=1)
}

.stepsblock:hover {
box-shadow:0 0 5px #1f1f1f;
color:#fff;
transform:scale(1.02)
}

.stepsblock.stepsblockfull {
width:calc(100% - 40px);
margin-left:45px
}

.stepsblock.stepsblockfull2 {
width:calc(100% - 60px)
}

.stepsblock h4 {
text-transform:uppercase;
margin-bottom:20px;
color:#fff
}

.stepsblock h4 img {
height:18px;
vertical-align:-3px
}

.stepsblock b {
color:#f0ad4e
}

.stepsblock a {
color:#f0ad4e
}

.stepsblock a:hover {
text-decoration:none
}

.stepsblock .maindescbut {
height:36px;
margin-top:20px;
line-height:34px;
text-align:center;
font-size:14px;
color:#fff
}

.stepsblock .maindescbut:hover {
border-bottom:none;
margin-top:20px;
margin-bottom:0
}

.stepsblock img {
height:18px;
vertical-align:-3px
}

.contwrap {
display:flex;
justify-content:space-between;
flex-wrap:wrap
}

.contlink {
width:30%
}

.contlink h3 {
color:#fff;
font-size:20px;
text-transform:uppercase;
margin:0 0 20px
}

.bigstepline {
position:absolute;
top:165px;
left:50%;
margin-left:-1px;
width:3px;
height:800px;
background:url(../img/dash2.png)
}

.bigsteplinecic1 {
position:absolute;
top:calc(50% - 10px);
right:calc(50% - 16px);
width:31px;
height:31px;
background:#303030;
border-radius:50%;
border:3px solid #5d5d5d
}

.bigsteplinecic2 {
position:absolute;
top:50%;
left:-15px;
margin-top:-17px;
width:31px;
height:31px;
background:#303030;
border-radius:50%;
border:3px solid #5d5d5d
}

.stepline {
position:absolute;
top:72px;
left:297px;
width:200px;
height:157px;
border-top:3px dashed #696969;
border-left:3px dashed #696969
}

.stepline2 {
position:absolute;
top:126px;
right:-297px;
width:200px;
height:157px;
border-top:3px dashed #696969;
border-right:3px dashed #696969
}

.stepline3 {
position:absolute;
top:126px;
left:-297px;
width:200px;
height:157px;
border-top:3px dashed #696969;
border-left:3px dashed #696969
}

.reviewblock {
width:100%;
background:url(../img/teamback.jpg) center no-repeat;
position:relative;
box-sizing:border-box;
padding:60px 0
}

.reviewblock h2 {
color:#fff;
text-align:center;
font-size:44px;
font-weight:600;
text-transform:uppercase;
letter-spacing:2px;
margin:0 0 50px
}

.reviewblock h2 small {
display:block;
font-size:22px;
font-weight:200;
line-height:50px;
letter-spacing:1px
}

.reviewwrap {
display:flex;
justify-content:space-between;
flex-wrap:wrap
}

.reviewwrap:last-child {
margin-top:30px
}

.review {
width:65%;
padding-right:60px
}

.review:last-child {
width:35%;
padding-right:0
}

.mainreview {
display:flex;
align-items:center
}

.mainreview img {
height:100px;
margin-right:20px
}

.mainreviewdesc {
width:calc(100% - 120px);
font-size:16px;
line-height:20px;
text-shadow:1px 1px 1px #333;
font-weight:300
}

.mainauditwrap {
margin-top:40px;
font-size:16px;
line-height:20px;
text-shadow:1px 1px 1px #333;
font-weight:300
}

.mainreviewimg {
display:flex;
align-items:center
}

.mainreviewimg a {
color:#fff
}

.macblockline img.reviewimg {
height:150px;
vertical-align:0;
transition:.3s;
border:3px solid #f0ad4e
}

.macblockline img.reviewimg:hover {
transform:scale(1.05)
}

.mainreviewimgdesc {
width:calc(100% - 140px);
padding-left:20px;
font-size:16px
}

.smartcode {
height:calc(100% - 90px);
width:calc(100% - 32px);
text-align:left;
line-height:14px;
background-color:#282828;
border-radius:15px;
box-shadow:inset 0 0 50px #1b1b1b;
color:#fff;
padding:16px;
font-size:12px;
border:none;
outline:none;
margin-top:20px
}

.reviewlinkwrap,.lastdepowrap {
display:flex;
justify-content:space-between;
flex-wrap:wrap;
margin-top:30px
}

.reviewlink {
display:inline-flex;
align-items:center;
justify-content:center;
width:31%;
height:70px;
margin:10px 0;
padding:20px;
border-left:5px solid #f0ad4e;
text-shadow:1px 1px 1px #333;
box-shadow:0 0 30px #1f1f1f;
background:#282828;
background:-moz-linear-gradient(left,#282828 0%,#353535 100%);
background:-webkit-linear-gradient(left,#282828 0%,#353535 100%);
background:linear-gradient(to right,#282828 0%,#353535 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828',endColorstr='#353535',GradientType=1);
transition:.3s
}

.reviewlink:hover {
transform:scale(1.025)
}

.reviewlink.state img,.reviewlink.dappcom img {
filter:brightness(1.5)
}

.reviewlink.hyiphunter img {
filter:brightness(3)
}

.reviewlink img {
width:auto;
max-width:100%;
max-height:30px
}

.reviewlinkwrap .reviewlink:last-child {
display: none
}

.lastdepo {
display:flex;
justify-content:space-between;
flex-wrap:wrap;
width:100%;
height:50px;
margin:8px 0;
padding:10px;
border-left:5px solid #f0ad4e;
text-shadow:1px 1px 1px #333;
box-shadow:0 0 30px #1f1f1f;
background:#282828;
background:-moz-linear-gradient(left,#282828 0%,#353535 100%);
background:-webkit-linear-gradient(left,#282828 0%,#353535 100%);
background:linear-gradient(to right,#282828 0%,#353535 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828',endColorstr='#353535',GradientType=1);
transition:.3s
}

.lastdepo span {
text-align:center;
width:calc(100%/2 - 30px);
line-height:30px
}

.lastdepo span:first-child {
border-right:1px solid #f0f0f0;
font-weight:600
}

.lastdepo span:last-child {
width:60px
}

.lastdepo span a {
margin:0 auto;
padding:0;
width:30px;
height:30px;
line-height:30px;
border-radius:10px
}

.lastdepo span a:hover {
margin:1px auto -1px
}

.maincontbut {
display:block;
position:relative;
margin:30px 0;
color:#fff;
text-decoration:none;
font-size:16px;
line-height:40px;
padding-left:76px;
font-weight:300;
transition:.3s;
text-shadow:1px 1px 1px #333;
box-shadow:0 0 30px #1f1f1f;
background:#282828;
background:-moz-linear-gradient(left,#282828 0%,#353535 100%);
background:-webkit-linear-gradient(left,#282828 0%,#353535 100%);
background:linear-gradient(to right,#282828 0%,#353535 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828',endColorstr='#353535',GradientType=1)
}

.maincontbut:hover {
transform:scale(1.02);
box-shadow:0 0 5px #1f1f1f
}

.maincontbut:before {
content:'';
position:absolute;
top:-6px;
left:0;
height:54px;
width:54px;
border-radius:50%;
background:#f0ad4e;
box-shadow:0 0 20px #292929
}

.maincontbut.telegramlink:after {
content:"\f1d8";
font-family:"Font Awesome 5 pro";
font-weight:600;
position:absolute;
top:calc(50% - 18px);
left:-1px;
font-size:28px;
color:#fff;
text-shadow:1px 1px 1px #8B4513;
width:54px;
text-align:center
}

.maincontbut.supportlink:after {
content:"\f82d";
font-family:"Font Awesome 5 pro";
font-weight:200;
position:absolute;
top:calc(50% - 19px);
left:1px;
font-size:28px;
color:#fff;
text-shadow:1px 1px 1px #8B4513;
width:54px;
text-align:center
}

.maincontbut.maillink:after {
content:"\f658";
font-family:"Font Awesome 5 pro";
font-weight:600;
position:absolute;
top:calc(50% - 19px);
left:1px;
font-size:28px;
color:#fff;
text-shadow:1px 1px 1px #8B4513;
width:54px;
text-align:center
}

.maincontbut.twitterlink:after {
content:"\f4ba";
font-family:"Font Awesome 5 pro";
font-weight:600;
position:absolute;
top:calc(50% - 19px);
left:1px;
font-size:28px;
color:#fff;
text-shadow:1px 1px 1px #8B4513;
width:54px;
text-align:center
}

.maincontbut.youtubelink:after {
content:"\f04b";
font-family:"Font Awesome 5 pro";
font-weight:600;
position:absolute;
top:calc(50% - 18px);
left:3px;
font-size:28px;
color:#fff;
text-shadow:1px 1px 1px #8B4513;
width:54px;
text-align:center
}

.maincontbut.discordlink:after {
content:"\f8bc";
font-family:"Font Awesome 5 pro";
font-weight:600;
position:absolute;
top:calc(50% - 19px);
left:1px;
font-size:28px;
color:#fff;
text-shadow:1px 1px 1px #8B4513;
width:54px;
text-align:center
}

.maincontbut.instagramlink:after {
content:"\f332";
font-family:"Font Awesome 5 pro";
font-weight:600;
position:absolute;
top:calc(50% - 19px);
left:1px;
font-size:28px;
color:#fff;
text-shadow:1px 1px 1px #8B4513;
width:54px;
text-align:center
}

.maincontbut img {
height:18px;
vertical-align:-3px;
border-radius:3px
}

.maincontform {
width:80%;
margin:30px auto 0;
text-align:center
}

.maincontform label {
display:block;
margin:10px 4px;
font-size:16px
}

.maincontform label img {
height:18px;
vertical-align:-3px
}

.maincontform input {
display:block;
box-sizing:border-box;
width:100%;
text-align:center;
outline:none
}

.maincontform input[type=text] {
height:40px;
line-height:40px;
background-color:#282828;
border-radius:10px;
box-shadow:inset 0 0 50px #1b1b1b;
color:#fff;
padding:0 10px;
font-size:18px;
font-weight:300;
border:none
}

.maincontform input[type=text]:focus {
box-shadow:inset 0 0 10px #1b1b1b;
transition:.2s
}

.maincontform input[type=button] {
cursor:pointer;
margin-top:20px
}

.contactsblock {
width:100%;
position:relative;
box-sizing:border-box;
padding:60px 0 40px
}

.contactsblock h2 {
color:#fff;
text-align:center;
font-size:44px;
font-weight:600;
text-transform:uppercase;
letter-spacing:2px;
margin:0 0 50px
}

.contactsblock h2 small {
display:block;
font-size:22px;
font-weight:200;
line-height:50px;
letter-spacing:1px
}

.footer {
height:100px;
background:#303030;
background:-moz-linear-gradient(top,#303030 0%,#161616 100%);
background:-webkit-linear-gradient(top,#303030 0%,#161616 100%);
background:linear-gradient(to bottom,#303030 0%,#161616 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030',endColorstr='#161616',GradientType=0);
box-shadow:0 0 20px #1f1f1f
}

.footerwrap {
display:flex;
justify-content:space-between;
flex-wrap:wrap;
padding:15px 0
}

.footblock {
width:30%;
line-height:1.4;
font-size:13px
}

.footblock:lang(es) {
font-size: 12px
}

.footblock a {
color:#f0ad4e
}

.footblock a:hover {
text-decoration:none
}

.footlogo {
float:left;
margin-right:20px
}

.footlogo img {
height:70px
}

.footimg {
height:14px;
vertical-align:-1px
}

.footblock .maindescbut {
height:28px;
line-height:28px;
color:#fff;
font-size:12px;
margin:1px 0 13px
}

#toTop {
display:none;
text-decoration:none;
position:fixed;
bottom:24px;
right:24px;
overflow:hidden;
width:51px;
height:51px;
border:none;
text-indent:100%;
background:url(../img/ui.totop.png) no-repeat left top
}

#toTopHover {
background:url(../img/ui.totop.png) no-repeat left -51px;
width:51px;
height:51px;
display:block;
overflow:hidden;
float:left;
opacity:0;
-moz-opacity:0;
filter:alpha(opacity=0)
}

#toTop:active,#toTop:focus {
outline:none
}

.langblock {
position:fixed;
display:flex;
justify-content:center;
flex-direction:column;
left:0;
top:0;
width:36px;
height:100vh;
z-index:1000
}

.langwrap {
width:50px;
margin:3px 0 3px -14px;
height:34px;
font-weight:600;
line-height:36px;
padding-left:22px;
font-size:14px;
color:#3f2e54;
font-family:Nunito,Verdana,sans-serif;
background:#fff;
box-shadow:0 0 5px #f0f0f0;
-webkit-box-shadow:0 2px 8px 0 rgba(76,65,65,.15);
box-shadow:0 2px 8px 0 rgba(76,65,65,.15);
border-radius:0 20px 20px 0;
transition:.3s
}

.langwrap:hover {
-webkit-transform:translateX(14px);
-moz-transform:translateX(14px);
-ms-transform:translateX(14px);
-o-transform:translateX(14px);
transform:translateX(14px);
-webkit-box-shadow:0 2px 8px 0 rgba(76,65,65,.35);
box-shadow:0 2px 8px 0 rgba(76,65,65,.35)
}

.langwrap img {
margin:4px 5px 0 0;
float:right;
height:26px;
border-radius:50%
}

.socblock {
position:fixed;
display:flex;
justify-content:center;
flex-direction:column;
right:0;
top:0;
width:36px;
height:100vh;
z-index:1000
}

.socwrap {
position:relative;
width:50px;
margin:3px 0;
height:34px;
line-height:36px;
padding-left:6px;
background:#fff;
border-radius:20px 0 0 20px;
transition:.3s
}

.socwrap:hover {
-webkit-transform:translateX(-14px);
-moz-transform:translateX(-14px);
-ms-transform:translateX(-14px);
-o-transform:translateX(-14px);
transform:translateX(-14px);
-webkit-box-shadow:0 2px 8px 0 rgba(76,65,65,.35);
box-shadow:0 2px 8px 0 rgba(76,65,65,.35)
}

.socwrap i {
line-height:1;
font-weight:400;
margin:-3px 2px 0 0;
font-size:26px;
color:#288ef7;
position:relative;
vertical-align:middle
}

.socwrap:nth-last-of-type(2) i {
margin: -5px 2px 0 2px;
color: #cc41ca
}

.socwrap:nth-last-of-type(1) i {
margin:-3px 3px 0!important;
font-size:23px;
color:#3d83ce
}

.socwrap img {
margin:-3px 1px 0 2px;
vertical-align:middle;
width:24px
}

.socwrap i img {
width:18px;
height:14px;
margin:0;
position:absolute;
right:-7px;
top:-3px;
border:2px solid #fff
}

.calcwrap {
width:50px;
margin:3px 0 15px -14px;
height:34px;
font-weight:600;
line-height:36px;
padding-left:19px;
font-size:14px;
color:#3f2e54;
font-family:Nunito,Verdana,sans-serif;
background:#fff;
box-shadow:0 0 5px #f0f0f0;
-webkit-box-shadow:0 2px 8px 0 rgba(76,65,65,.15);
box-shadow:0 2px 8px 0 rgba(76,65,65,.15);
border-radius:0 20px 20px 0;
transition:.3s
}

.calcwrap:hover {
-webkit-transform:translateX(14px);
-moz-transform:translateX(14px);
-ms-transform:translateX(14px);
-o-transform:translateX(14px);
transform:translateX(14px);
-webkit-box-shadow:0 2px 8px 0 rgba(76,65,65,.35);
box-shadow:0 2px 8px 0 rgba(76,65,65,.35)
}

.calcwrap i {
line-height:1;
font-weight:400;
margin:-6px 0 0;
font-size:22px;
color:#f0ad4e;
position:relative;
vertical-align:middle
}

.socdesc {
display:block;
position:absolute;
top:calc(50% - -5px);
left:6px;
height:10px;
width:25px;
text-align:center;
background:#fff;
font-size:7px;
line-height:10px;
color:#000;
border-radius:0 0 0 8px;
font-weight:500
}

.remodal-bg.remodal-is-opening,.remodal-bg.remodal-is-opened {
filter:blur(3px)
}

.remodal-overlay {
background:rgba(43,46,56,0.6)
}

.remodal-overlay.remodal-is-opening,.remodal-overlay.remodal-is-closing {
animation-duration:.3s;
animation-fill-mode:forwards
}

.remodal-overlay.remodal-is-opening {
animation-name:remodal-overlay-opening-keyframes
}

.remodal-overlay.remodal-is-closing {
animation-name:remodal-overlay-closing-keyframes
}

.remodal-wrapper {
padding:10px 10px 0
}

.remodal {
box-sizing:border-box;
width:100%;
max-width:700px;
margin-bottom:10px;
padding:35px;
transform:translate3d(0,0,0);
color:#fff;
box-shadow:0 0 40px #1f1f1f;
border-top:5px solid #f0ad4e;
background:#282828;
transition:.3s;
border-radius:10px;
/**background:-moz-linear-gradient(left,#282828 0%,#353535 100%);
background:-webkit-linear-gradient(left,#282828 0%,#353535 100%);
background:linear-gradient(to right,#282828 0%,#353535 100%);**/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828',endColorstr='#353535',GradientType=1)
}

.remodal h1 {
text-transform:uppercase;
color:#fff;
font-size:24px;
letter-spacing:1px;
font-weight:500
}

.remodal.remodal-is-opening,.remodal.remodal-is-closing {
animation-duration:.3s;
animation-fill-mode:forwards
}

.remodal.remodal-is-opening {
animation-name:remodal-opening-keyframes
}

.remodal.remodal-is-closing {
animation-name:remodal-closing-keyframes
}

.remodal,.remodal-wrapper:after {
vertical-align:middle
}

.remodal-close {
position:absolute;
top:0;
right:0;
display:block;
overflow:visible;
width:40px;
height:40px;
margin:0;
padding:0;
cursor:pointer;
transition:color .2s;
text-decoration:none;
color:#95979c;
border:0;
outline:0;
background:transparent
}

.remodal-close:hover,.remodal-close:focus {
color:#fff
}

.remodal-close:before {
font-family:Arial,"Helvetica CY","Nimbus Sans L",sans-serif!important;
font-size:30px;
line-height:40px;
position:absolute;
top:0;
left:0;
display:block;
width:40px;
content:"\00d7";
text-align:center
}

.remodal-confirm,.remodal-cancel {
font:inherit;
display:inline-block;
overflow:visible;
min-width:110px;
margin:0;
padding:12px 0;
cursor:pointer;
transition:background .2s;
text-align:center;
vertical-align:middle;
text-decoration:none;
border:0;
outline:0
}

.remodal-confirm {
color:#fff;
background:#81c784
}

.remodal-confirm:hover,.remodal-confirm:focus {
background:#66bb6a
}

.remodal-cancel {
color:#fff;
background:#e57373
}

.remodal-cancel:hover,.remodal-cancel:focus {
background:#ef5350
}

.remodal-confirm::-moz-focus-inner,.remodal-cancel::-moz-focus-inner,.remodal-close::-moz-focus-inner {
padding:0;
border:0
}

@keyframes remodal-opening-keyframes {
from {
transform:scale(1.05);
opacity:0
}

to {
transform:none;
opacity:1
}
}

@keyframes remodal-closing-keyframes {
from {
transform:scale(1);
opacity:1
}

to {
transform:scale(0.95);
opacity:0
}
}

@keyframes remodal-overlay-opening-keyframes {
from {
opacity:0
}

to {
opacity:1
}
}

@keyframes remodal-overlay-closing-keyframes {
from {
opacity:1
}

to {
opacity:0
}
}

.lt-ie9 .remodal-overlay {
background:#2b2e38
}

.lt-ie9 .remodal {
width:700px
}

html.remodal-is-locked {
overflow:hidden;
touch-action:none
}

.remodal,[data-remodal-id] {
display:none
}

.remodal-overlay {
position:fixed;
z-index:9999;
top:-5000px;
right:-5000px;
bottom:-5000px;
left:-5000px;
display:none
}

.remodal-wrapper {
position:fixed;
z-index:10000;
top:0;
right:0;
bottom:0;
left:0;
display:none;
overflow:auto;
text-align:center;
-webkit-overflow-scrolling:touch
}

.remodal-wrapper:after {
display:inline-block;
height:100%;
margin-left:-.05em;
content:""
}

.remodal-overlay,.remodal-wrapper {
backface-visibility:hidden
}

.remodal {
position:relative;
outline:none;
text-size-adjust:100%
}

.remodal-is-initialized {
display:inline-block
}

.modaldesc {
margin-top:40px;
font-size:16px;
line-height:1.4;
text-align:left;
position:relative
}

.modaldesc b {
font-weight:500
}

.modaldesc img {
height:18px;
vertical-align:-3px
}

.modaldesc .maincontform {
margin:0 auto 40px
}

.modaldesc h3 {
font-size:22px;
margin:20px 0;
border-left:4px solid #f0ad4e;
padding-left:10px;
font-weight:300
}

.modalline {
margin:6px 0
}

.modalline i {
color:#f0ad4e
}

.modalline .extb {
color:#0000ff
}

.dashmodal {
width:100%;
height:2px;
background:url(../img/dash.png) center;
margin-bottom:35px
}

.modallineflex {
display:flex;
justify-content:space-between;
flex-wrap:wrap
}

.modallineflex .modallinenotify {
font-size:12px;
margin-top:12px;
font-style:italic
}

.modallinewrap {
width:50%
}

.modallinewrap .withdrawButton {
margin-top:4px
}

.modallinewrap:nth-of-type(2) {
border-left:1px solid #535353;
padding-left:20px
}

.modallinewrapvalue {
color:#f0ad4e;
font-weight:500;
font-size:42px;
line-height:1;
margin-top:8px
}

.modallinewrapvalue img {
height:36px
}

.modalref {
margin-top:20px;
font-size:14px;
font-weight:300;
line-height:1.4
}

.modalref span {
display:block;
text-decoration:underline;
color:#f0ad4e
}

.modalref small {
font-size:12px;
font-style:italic
}

.modallogo {
height:60px
}

.modallink {
color:#f0ad4e
}

.modallink:hover {
text-decoration:none
}

.error {
background-color:#c85f5f;
padding:8px 0
}

.calcpage {
display:block;
margin:200px auto 40px;
max-width:1000px;
text-align:center;
font-size:16px
}

.calcpage h2 {
font-size:24px;
font-weight:400
}

.calcpage b {
font-weight:600
}

.calcpage span {
display:block;
margin:10px 0
}

.calcInputedAmount {
display:inline-block!important
}

.bannerwrap {
margin:0 0 20px;
text-align:center;
width:100%
}

.bannerwrap:last-of-type {
margin:0
}

.bannerwrap b {
color:#fff
}

.bannerwrap div {
display:inline-block;
font-weight:600
}

.bannerwrap img {
display:block;
border:2px solid #02BA96;
margin:14px auto;
max-width:100%;
height:auto
}

.bannerwrap textarea {
display:block;
font-family: "Raleway", sans-serif;
text-align:center;
border-radius: 10px;
width:728px;
max-width: calc(100% - 26px);
border:2px solid #02BA96;
background-color: #FBF8FF;
padding:6px 10px;
outline:none;
margin:14px auto 0
}

.bannerwrap textarea:focus {
background-color: #fff
}

.contlogo {
    width: 280px;
    display: block;
    margin: 40px auto 20px;
}

.pagesep {
    display: block;
    width: 100%;
    height: 2px;
    background: url(../img/dash.png) center;
    margin: 20px auto;
}

.calcpage h2 b {
    font-weight: 600;
    color: #f0ad4e;
}

.contdesc {
    text-align: left;
    line-height: 1.4;
}

.contdesc h2 {
    text-align: center;
}

.contesttitle {
    font-size: 20px;
    font-weight: 500;
    color: #f0ad4e;
    margin: 20px 0;
    text-transform: uppercase;
}

.contesttitle img {
    height: 18px;
    vertical-align: -2px;
}

.contdesc span {
    margin: 10px 0 10px 6px;
}

.contdesc span a {
    font-weight: 500;
    color: #f0ad4e;
}

.colorchange {
    animation: color-change 2s infinite;
}

@keyframes color-change {
    0% { color: #dcdcdc; }
    33% { color: #f0ad4e; }
    66% { color: #ff4c4c; }
    100% { color: #dcdcdc; }
  }

.fromTopIn {
transition:transform 1s ease,opacity 1s ease;
transform:translate(0,0);
opacity:1
}

.fromTopOut {
transition:transform 1s ease,opacity 1s ease;
transform:translate(0,-10px);
opacity:0
}

.fromBottomIn {
transition:transform 1s ease,opacity 1s ease;
transform:translate(0,0);
opacity:1
}

.fromBottomOut {
transition:transform 1s ease,opacity 1s ease;
transform:translate(0,10px);
opacity:0
}

.fromLeftIn {
transition:transform 1s ease,opacity 1s ease;
transform:translate(0,0);
opacity:1
}

.fromLeftOut {
transition:transform 1s ease,opacity 1s ease;
transform:translate(-10px,0);
opacity:0
}

.fromRightIn {
transition:transform 1s ease,opacity 1s ease;
transform:translate(0,0);
opacity:1
}

.fromRightOut {
transition:transform 1s ease,opacity 1s ease;
transform:translate(10px,0);
opacity:0
}

.scaleUpIn {
transition:transform 1s ease,opacity 1s ease;
transform:scale(1.0,1.0);
opacity:1
}

.scaleUpOut {
transition:transform 1s ease,opacity 1s ease;
transform:scale(1.3,1.3);
opacity:0
}

.scaleDownIn {
transition:transform 1s ease,opacity 1s ease;
transform:scale(1.0,1.0);
opacity:1
}

.scaleDownOut {
transition:transform 1s ease,opacity 1s ease;
transform:scale(0.7,0.7);
opacity:0
}

@media screen and (max-width:1200px) {
.wrap {
width:972px
}

.cbp-af-header nav {
padding:0 20px
}

.cbp-af-header nav a {
line-height:100px
}

.cbp-af-header .mainlogo {
height:100px;
margin-top:0
}

.cbp-af-header .mainlogo img {
height:80px;
vertical-align:middle
}

.cbp-af-header.cbp-af-header-shrink .mainlogo {
margin-top:0
}

.mainphone {
left:0
}

.dash1 {
left:-112px
}

.dash2 {
left:-42px
}

.dash3 {
left:-202px
}

.dash4 {
left:-45px
}

.perfection {
left:7px
}

.mainbackdesc h1 {
font-size:26px;
letter-spacing:0
}

.maindesctext span {
font-size:13.8px
}

.mainaboutitemsblock {
padding:0
}

.aboutdashleft {
left:38px
}

.aboutdashright {
left:408px
}

.totalsumwrap {
width:48%
}

.maincertbtn .maindescbut {
font-size:13px
}

.macblock {
width:46%
}

.workdescblock {
width:50%
}

.macback {
width:440px;
height:355px;
background:url(../img/macback.png);
background-size:contain
}

.macbackwrap {
height:252px
}

.stepsblock {
width:calc(50% - 40px)
}

.bigstepline {
top:170px;
height:850px
}

.review {
padding-right:40px
}

.macblockline img.reviewimg {
height:92px
}

.maincontbut {
padding-left:70px
}

.contlink {
width:31.5%
}

.footblock {
line-height:1.7;
font-size:10px
}

.workdesctitle {
font-size:20px
}
}

@media screen and (max-width:992px) {
.wrap {
width:748px
}

.cbp-af-header nav {
padding:0 10px
}

.cbp-af-header nav a {
letter-spacing:0;
font-size:14px
}

.mainbackwrap {
width:100%
}

.mainbackdesc {
margin:150px 40px 0
}

.mainbackwrap:first-child {
display:none
}

.maindesctext span {
font-size:16px
}

.mainback {
height:inherit;
padding-bottom:40px
}

.mainabout {
padding:20px 0 10px
}

.mainabout h2,.workblock h2,.stepsmainblock h2,.reviewblock h2,.contactsblock h2 {
font-size:34px
}

.mainaboutitemsblock {
margin:120px 0
}

.aboutitemgrad1 {
margin-right:0
}

.mainaboutitem2 {
margin:-20px 0 0 -544px
}

.mainaboutitem {
width:200px;
font-size:13px;
padding:20px;
vertical-align:top
}

.aboutitemgrad2 {
margin-left:344px
}

.aboutdashleft {
left:-49px
}

.aboutdashright {
left:297px
}

.mainaboutitem h3 {
font-size:14px;
font-weight:300;
margin-bottom:10px;
line-height:1.3
}

.totalsumwrap {
width:100%;
display:flex;
justify-content:space-between;
flex-wrap:wrap
}

.totalsumwrapvalue {
width:48%
}

.totalsumdesc {
font-size:20px
}

.totalsumnum {
margin:10px 0;
font-size:34px;
line-height:66px
}

.totalsumblock .totalsumwrap .totalsumnum:last-child::before {
font-size:24px
}

.aboutdashbottom {
bottom:-55px
}

.maincompanydesc {
width:50%;
margin-top:40px
}

.certimgwrap {
width:50%;
margin-top:40px;
text-align:left;
padding-left:20px
}

.maincertbtn {
width:100%
}

.maincertbtn .maindescbut {
font-size:14px
}

.certimg {
height:172px
}

.serdash {
left:-2px
}

.workblock {
padding:40px 0 10px
}

.macblock {
width:100%;
display:flex;
justify-content:space-between;
flex-wrap:wrap
}

.macback {
margin:30px auto -40px
}

.macblock .macblockline {
width:49%;
padding:15px;
font-size:15px;
margin:10px 0
}

.macbackwrap img {
height:80px;
margin:20px auto;
width:120px
}

.macblock .macblockline img {
height:17px
}

.macblockline a.blocklinea i {
font-size:30px
}

.workdescblock {
width:100%;
margin:30px 0
}

.stepsblock {
width:95%;
margin:20px 0 0
}

.stepsblock.stepsblockfull {
width:calc(100% - 26px);
margin-left:0
}

.stepslinewrap .maincontform {
width:90%
}

.stepsline h3 {
font-size:26px
}

.stepsblock.stepsblockfull2 {
width:calc(100% - 26px)
}

.bigstepline {
top:250px;
height:950px
}

.stepsmainblock {
padding:40px 0
}

.reviewblock {
padding:40px 0
}

.review {
padding-right:0;
width:100%
}

.macblockline img.reviewimg {
height:150px
}

.reviewblock h2,.contactsblock h2 {
margin:0 0 30px
}

.review:last-child {
width:100%
}

.smartcode {
height:120px
}

.contactsblock {
padding:40px 0 20px
}

.contlink {
width:48%
}

.contlink:last-child {
width:100%;
display:flex;
justify-content:space-between;
flex-wrap:wrap
}

.contlink:last-child h3 {
width:100%;
margin:0
}

.contlink:last-child .maincontbut {
width:48%
}

.footlogo {
margin-right:15px
}

.footlogo img {
display:none
}

.reviewlinkwrap {
margin-bottom:30px
}
}

@media screen and (max-width:768px) {
.wrap {
width:550px
}

.cbp-af-header nav a:nth-child(-n+3) {
display:none
}

.cbp-af-header nav a:nth-child(n+4) {
width:33%
}

.maindesc {
padding:15px 0
}

.mainbackdesc {
margin:120px 20px 0
}

.maindesctext span {
font-size:14.5px
}

.mainabout h2,.workblock h2,.stepsmainblock h2,.reviewblock h2,.contactsblock h2 {
font-size:28px
}

.mainabout h2 small,.workblock h2 small,.stepsmainblock h2 small,.reviewblock h2 small,.contactsblock h2 small {
font-size:16px;
line-height:40px
}

.mainabout {
padding:10px 0
}

.mainaboutitemsblock {
display:flex;
justify-content:space-between;
flex-wrap:wrap
}

.mainaboutitem {
width:45%;
height:inherit
}

.aboutitemgrad2,.mainaboutitem2 {
margin:0
}

.mainaboutitem2 {
position:relative;
margin:-20px auto 20px;
width:100%;
padding:20px;
order:-1;
z-index:1;
height:inherit;
background:transparent;
box-shadow:none;
border:none
}

.mainaboutitem2:hover {
transform:none;
box-shadow:none
}

.mainaboutitem2 img {
height:80px
}

.aboutdashleft {
left:152px;
top:362px;
width:245px
}

.serdash {
top:-19px;
height:200px;
background:url(../img/dash2.png) top
}

.aboutdashright {
display:none
}

.mainaboutitemsblock {
margin:50px 0
}

.aboutdashbottom {
bottom:-29px
}

.totalsumdesc {
font-size:16px
}

.totalsumnum {
font-size:26px;
line-height:54px
}

.totalsumblock .totalsumwrap .totalsumnum:last-child::before {
left:14px;
font-size:20px
}

.maincompanydesc {
font-size:14px
}

.maincompany {
font-size:18px;
margin:4px 0 18px
}

.certimg {
height:164px
}

.maincertbtn .maindescbut {
height:40px;
margin-top:20px;
line-height:36px
}

.macback {
margin:20px auto -66px;
width:373px;
height:300px
}

.macbackwrap {
height:210px
}

.macbackwrap img {
height:66px;
margin:15px auto;
width:100px
}

.macblockdesc {
font-size:22px
}

.macblock .macblockline {
width:80%;
padding:12px;
font-size:16px;
margin:5px auto
}

.workdescblock {
width:100%;
margin:30px 0;
order:-1;
padding:0 20px
}

.workblock {
padding:40px 0
}

.stepsline {
margin-bottom:40px
}

.stepsline:nth-of-type(3) .stepslinewrap:nth-child(2) {
display:none
}

.stepsblock.stepsblockfull {
width:100%
}

.stepslinewrap {
width:100%
}

.stepsmainblock h2 {
margin:0 0 30px
}

.stepsblock {
width:100%
}

.icosteps2 {
display:none
}

.stepsblock.stepsblockfull2 {
width:100%
}

.stepsline:nth-of-type(4) .stepslinewrap:nth-child(3) {
display:none
}

.bigstepline {
top:320px;
height:850px
}

.mainreviewdesc {
width:calc(100% - 120px);
font-size:14px;
line-height:18px
}

.mainauditwrap .macblockline {
border-top:5px solid #f0ad4e;
border-left:none;
margin:15px 0 20px
}

.mainreviewimg {
justify-content:center;
flex-wrap:wrap
}

.mainreviewimgdesc {
width:100%;
padding-left:0;
font-size:16px;
text-align:center;
margin-top:20px
}

.contlink {
display:flex;
justify-content:space-between;
flex-wrap:wrap;
width:100%
}

.contlink h3 {
width:100%;
margin:30px 0 0
}

.contlink:last-child h3 {
width:100%;
margin:30px 0 0
}

.maincontbut {
width:48%;
padding-left:65px;
margin:24px 0 0;
font-size:14px
}

.contactsblock {
padding:40px 0
}

.contactsblock h2 {
margin:0
}

.footblock {
width:48%
}

.footblock:last-child {
margin-top:15px;
width:100%
}

.footer {
height:inherit
}

.footblock .maindescbut:last-child {
margin:0
}

.modaldesc .maincontform {
margin:0 auto 20px;
width:100%
}

.modallineflex {
font-size:14px
}

.modallinewrapvalue img {
height:30px
}

.modallinewrapvalue {
font-size:34px;
margin-top:5px
}

.modaldesc {
margin-top:30px
}

.dashmodal {
margin-bottom:30px
}

.stepsblock h4 {
margin-bottom:10px
}

.reviewwrap:last-child {
margin-top:20px
}

.reviewlinkwrap,.lastdepowrap {
margin-top:20px;
margin-bottom:20px
}
}

@media screen and (max-width:576px) {
.calcpage h2 {
font-size:20px
}

.wrap {
width:380px
}

.cbp-af-header .mainlogo img {
height:60px
}

.cbp-af-header nav a {
font-size:12px;
line-height:60px
}

.cbp-af-header nav a:nth-child(4) {
width:28%
}

.cbp-af-header nav a:nth-child(n+5) {
width:36%
}

.mainbackdesc h1 {
font-size:19px
}

.mainico {
height:40px
}

.maindesctext span {
font-size:14px;
line-height:1.2
}

.cbp-af-header.cbp-af-header-shrink nav a {
line-height:60px
}

.cbp-af-header.cbp-af-header-shrink .mainlogo img {
height:50px
}

.cbp-af-header.cbp-af-header-shrink {
height:60px
}

.cbp-af-header.cbp-af-header-shrink .mainlogo img {
height:52px;
vertical-align:top;
padding-top:7px
}

.cbp-af-header .mainlogo {
height:60px
}

.cbp-af-header .mainlogo img {
height:52px;
vertical-align:top;
padding-top:1px
}

.maindescbut {
height:40px;
margin-top:20px;
line-height:38px;
font-size:16px
}

.maindesclink a {
font-size:14px
}

.maindesclink a:lang(ru) {
font-size:13px
}

.mainabout h2,.workblock h2,.stepsmainblock h2,.reviewblock h2,.contactsblock h2 {
font-size:24px;
line-height:1.2
}

.mainaboutitem2 h3 {
font-size:20px
}

.mainaboutitem h3 {
font-size:16px
}

.mainaboutitem {
width:100%;
margin:0 auto 15px;
text-align:left
}

.aboutdashleft {
display:none
}

.totalsumwrapvalue {
width:100%;
margin:0 auto 15px
}

.mainaboutitemsblock {
margin:50px 0 60px
}

.maincompanydesc {
font-size:12px;
margin-top:20px
}

.certimgwrap {
margin-top:20px
}

.maincompany {
font-size:15px;
margin:4px 0 18px
}

.certimg {
height:156px
}

.maincertbtn .maindescbut {
height:32px;
margin-top:10px;
line-height:30px;
font-size:10px
}

.aboutitemgrad1 {
display:none
}

.workdescblock {
width:100%;
margin:30px auto 10px;
order:-1;
padding:0
}

.workdescpre {
font-size:14px
}

.workdesctitle {
font-size:16px;
line-height:1.4;
margin:10px 0
}

.workdesc {
font-size:14px
}

.macback {
width:310px;
height:250px
}

.macbackwrap {
height:178px
}

.macbackwrap img {
height:60px;
margin:10px auto;
width:90px
}

.macblock .macblockline {
width:100%;
font-size:15px
}

.macblock .macblockline img {
height:15px;
vertical-align:-2px
}

.stepslinewrap .maincontform {
width:100%
}

.mainbackdesc {
margin:120px 10px 0
}

.maindescbut:hover {
margin-top:23px
}

.bigstepline {
height:930px
}

.mainabout h2 small,.workblock h2 small,.stepsmainblock h2 small,.reviewblock h2 small,.contactsblock h2 small {
font-size:16px;
line-height:1.2;
margin-top:10px
}

.reviewblock {
padding:30px 0
}

.mainreview {
flex-direction:column
}

.mainreview img {
height:80px;
margin-right:0;
margin-bottom:10px
}

.mainreviewdesc {
width:100%;
font-size:14px
}

.mainauditwrap .macblockline {
padding:15px
}

.mainreviewimgdesc {
font-size:14px;
margin-top:15px
}

.maincompany span {
display:block
}

.maincompany {
margin:2px 0 15px
}

.maincontbut {
width:100%;
padding-left:70px;
margin:20px 0 0;
font-size:16px
}

.contlink h3 {
width:100%;
margin:25px 0 0;
font-size:14px;
font-weight:300
}

.maincontbut::before {
top:-4px;
height:50px;
width:50px
}

.maincontbut.supportlink::after {
width:49px;
top:calc(50% - 20px)
}

.maincontbut.telegramlink::after {
font-size:26px;
width:50px
}

.maincontbut.maillink::after {
top:calc(50% - 20px);
font-size:26px;
width:49px
}

.maincontbut.twitterlink::after {
font-size:26px;
width:49px
}

.maincontbut.youtubelink::after {
font-size:25px;
width:49px
}

.maincontbut.instagramlink::after {
font-size:25px;
width:46px
}

.maincontbut.discordlink::after {
font-size:25px;
width:50px
}

.maincontbut,.contlink:last-child .maincontbut {
width:100%
}

.footblock {
width:50%
}

.footblock .maindescbut:hover {
margin-top:0
}

.remodal h1 {
font-size:22px
}

.remodal {
padding:20px
}

.modalref small {
font-size:11px
}

.modaldesc {
margin-top:20px;
font-size:14px
}

.dashmodal {
margin-bottom:20px
}

.macblockline {
margin:12px 0;
padding:12px
}

.modallinewrap:nth-of-type(2) {
padding-left:12px
}

.modallinewrapvalue {
font-size:30px
}

.modallinewrapvalue img {
height:26px
}

.maincontform label {
font-size:14px
}

.maincontform input[type="text"] {
font-size:16px
}

.modalline {
font-size:14px
}

.modallogo {
height:50px
}

.modaldesc h3 {
font-size:18px
}

.stepsline h3 {
font-size:22px
}

.stepsline h3:lang(ru) {
font-size:18px
}

.mainauditwrap {
margin-top:30px
}

.reviewwrap {
width:96%;
padding:0;
margin:0 auto
}

.smartcode {
width:91%
}

.cbp-af-header nav a i {
vertical-align:-2px;
margin-right:2px
}

.modallinewrap {
width:100%;
padding-bottom:10px
}

.modallinewrap:nth-of-type(2) {
border-top:1px solid #535353;
border-left:none;
padding:10px 0 0
}

.socwrap i {
font-size: 22px;
}
.socwrap {
position: relative;
width: 50px;
margin: 3px 0;
height: 30px;
line-height: 30px;
padding-left: 4px;
}
.socblock {
width: 30px;
}
.socwrap:nth-last-of-type(2) i {
margin: -3px 2px 0 3px
}
.socwrap:nth-last-of-type(1) i {
margin: -2px 3px 0 !important;
font-size: 20px;
}
.socdesc {
top: calc(50% - -3px);
left: 4px;
}
.langwrap {
width: 50px;
margin: 3px 0 3px -21px;
height: 30px;
line-height: 32px;
}
.langwrap img {
margin: 4px 4px 0 0;
height: 22px;
}
.calcwrap {
width: 50px;
margin: 3px 0 15px -20px;
height: 30px;
line-height: 32px;
}
.calcwrap i {
margin: -6px 6px 0;
font-size: 18px;
}
.langblock {
width: 30px;
}
.calcpage {
width: 400px;
font-size: 14px;
}
.contesttitle {
font-size: 16px;
}
.calcpage h2 {
font-size: 16px;
}
}

@media screen and (max-width:400px) {
.wrap {
width:300px
}

.mainbackdesc {
margin:120px 10px 0;
text-align:center
}

.cbp-af-header nav a:nth-child(4) {
width:100%
}

.cbp-af-header nav a:nth-child(n+5) {
width:50%
}

.cbp-af-header nav {
padding:0
}

.cbp-af-header {
background:#303030;
box-shadow:1px 1px 20px #1f1f1f;
height:inherit
}

.cbp-af-header nav a:hover {
border-top:6px solid transparent
}

.cbp-af-header .mainlogo {
height:50px
}

.cbp-af-header.cbp-af-header-shrink .mainlogo {
display:none
}

.cbp-af-header.cbp-af-header-shrink nav a:hover {
border-bottom:4px solid transparent
}

.mainbackdesc h1 {
font-size:16px
}

.mainico {
height:35px
}

.mainabout {
padding:0
}

.mainaboutitem2 {
margin:-30px auto 10px
}

.mainaboutitem2 h3 {
font-size:15px;
font-weight:300
}

.mainaboutitem h3 {
font-size:15px
}

.maincompany {
font-size:12px
}

.certimg {
height:145px
}

.maincertbtn .maindescbut {
font-size:9px
}

.maincertbtn .maindescbut i {
display:none
}

.workdesc {
font-size:12px
}

.macblock .macblockline {
font-size:12px
}

.macback {
width:280px;
height:225px;
margin:20px auto -50px
}

.macbackwrap {
height:160px
}

.macblockdesc {
font-size:18px
}

.macbackwrap img {
height:50px;
margin:10px auto;
width:76px
}

.stepsblock {
font-size:12px
}

.bigstepline {
height:1000px
}

.mainabout h2 small,.workblock h2 small,.stepsmainblock h2 small,.reviewblock h2 small,.contactsblock h2 small {
font-size:14px
}

.footblock {
width:100%;
line-height:1.4;
font-size:12px
}

.maincontbut {
padding-left:65px;
font-size:14px
}

.remodal {
padding:20px 15px
}

.maincontform label {
font-size:12px
}

.modalref {
font-size:12px
}

.remodal-close {
top:-5px;
right:-5px
}

.remodal h1 {
font-size:20px
}

.remodal h1:lang(ru) {
font-size:18px
}

.modallogo {
height:40px;
margin:10px 0
}

.reviewlink {
width:48%;
height:60px;
margin:5px 0;
padding:15px
}

.lastdepo {
height:40px
}

.lastdepo span {
width:calc(100%/2 - 20px);
line-height:20px;
font-size:12px
}

.lastdepo span:last-child {
width:40px
}

.lastdepo span a {
margin:-5px auto 0
}

.lastdepo span a:hover {
margin:-4px auto -1px
}

.reviewlinkwrap .reviewlink:last-child {
display: inline-flex
}

.calcpage {
width: 300px;
font-size: 14px;
}
}  
  
